xsd/rss.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="rss">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="channel">
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="version"/>
        </xs:complexType>
    </xs:element>
</xs:schema>












